extends ../app

block header
block footer

//- block grid-test

mixin features-section
  section.container.page-industry-features-section
    ul.features-list
      +features-item-1
      +features-item-1
      +features-item-2

block content
    +top-section.page-industry-top-section
    +feature-section
    +features-section
    +section-slider.page-industry-section-slider
    section.page-industry-section
      .container
        .border-block
          h2.sub-title
            |Клиентский сервис
          .info-blocks.page-industry-info-blocks
            .info-blocks__item
              .info-block
                .info-block__col
                  .info-block__feature
                    .article
                      span.article__highlight
                        |Измеряем эффективность СИЗ
                      |#{" "}органов дыхания на рабочих местах сотрудников
                .info-block__col
                  .info-block__text
                    |Измерять соответствие используемых СИЗОД реальным рабочим условиям – способ актуализировать уровень защиты, оптимизировать затраты и повысить лояльность персонала, который видит заботу и контроль.
            .info-blocks__item
              .info-block
                .info-block__col
                  .info-block__feature
                    .article
                      span.article__highlight
                        |Измеряем эффективность СИЗ
                      |#{" "}органов дыхания на рабочих местах сотрудников
                .info-block__col
                  .info-block__text
                    |Измерять соответствие используемых СИЗОД реальным рабочим условиям – способ актуализировать уровень защиты, оптимизировать затраты и повысить лояльность персонала, который видит заботу и контроль.
    section.page-industry-section
      .container
        .border-block
          h2.sub-title
            |Информационные материалы
          .information-block.page-industry-information-block
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Каталог компании
                p.information-card__size
                  |235 КБ
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card-2.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Листовка о клиентском сервисе
                p.information-card__size
                  |235 КБ
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card-3.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Плакат по надеванию респиратора
                p.information-card__size
                  |235 КБ
    section.page-industry-section(data-examples-slider-component)
      .container
        .border-block
          .slider-panel
            .slider-panel__col
              h2.sub-title
                |Наиболее востребованные модели продукции
            .slider-panel__col
              .slider-panel__sub-col
                .controls
                  .controls__item
                    .control.control--dark(data-examples-slider-prev)
                      +arrow-left-svg.control__svg
                  .controls__item
                    .control.control--dark(data-examples-slider-next)
                      +arrow-left-svg.control__svg.control__svg--reverse
              .slider-panel__sub-col
                .btn
                  a.btn__btn(href="#")
                    |Перейти в каталог
      .swiper.examples-slider.page-industry-examples-slider(data-examples-slider-container)
        .swiper-wrapper
          a.swiper-slide.examples-slider__slide(href="#")
            .examples-slider__row
              .examples-slider__image
                +picture('example.jpeg').examples-slider__picture
              .examples-slider__content
                .examples-slider__content-item
                  h3.examples-slider__title
                    |RK 9010
                .examples-slider__content-item
                  .examples-slider__table
                    .examples-slider__table-row
                      h4.examples-slider__table-title
                        |Класс защиты
                      h4.examples-slider__table-title
                        |Клапан выдоха
                    .examples-slider__table-row
                      p.examples-slider__table-value
                        |FFP1 R D
                      p.examples-slider__table-value
                        |Нет
                .examples-slider__content-item
                  .examples-slider__feature
                    +feature-4-svg.examples-slider__feature-svg
                    .examples-slider__feature-content
                      h4.examples-slider__feature-title
                        |Защита от всех видов аэрозолей
                      .wrap-list.examples-slider__feature-value
                        .wrap-list__list
                          -
                            var items = [
                              'Пыль',
                              'Дым',
                              'Туман',
                            ]
                          each item in items
                            .wrap-list__item
                              .tag
                                .tag__tag
                                  |#{item}
            .control.examples-slider__label
              +arrow-left-svg.control__svg.control__svg--tilt
          a.swiper-slide.examples-slider__slide(href="#")
            .examples-slider__row
              .examples-slider__image
                +picture('example-2.jpeg').examples-slider__picture
              .examples-slider__content
                .examples-slider__content-item
                  h3.examples-slider__title
                    |RK 9011
                .examples-slider__content-item
                  .examples-slider__table
                    .examples-slider__table-row
                      h4.examples-slider__table-title
                        |Класс защиты
                      h4.examples-slider__table-title
                        |Клапан выдоха
                    .examples-slider__table-row
                      p.examples-slider__table-value
                        |FFP1 R D
                      p.examples-slider__table-value
                        |Нет
                .examples-slider__content-item
                  .examples-slider__feature
                    +feature-4-svg.examples-slider__feature-svg
                    .examples-slider__feature-content
                      h4.examples-slider__feature-title
                        |Защита от всех видов аэрозолей
                      .wrap-list.examples-slider__feature-value
                        .wrap-list__list
                          -
                            var items = [
                              'Пыль',
                              'Дым',
                              'Туман',
                            ]
                          each item in items
                            .wrap-list__item
                              .tag
                                .tag__tag
                                  |#{item}
            .control.examples-slider__label
              +arrow-left-svg.control__svg.control__svg--tilt
    section.form-section
      .form-section__content
        .form-section__content-item
          .form-section__title-container
            h2.sub-title.form-section__title
              |связаться с нами
        .form-section__content-item
          .form-section__article-container
            .article.article--large.article--indent
              span.article__highlight
                |Измеряем эффективность СИЗ
              |#{" "}органов дыхания на рабочих местах сотрудников
        .form-section__content-item
          form.section-form
            .section-form__grid
              .section-form__item
                .form-field.form-field--error
                  input.form-field__input(placeholder='Имя')
                  .form-field__error
                    |Допустимы только буквы
              .section-form__item
                .form-field
                  input.form-field__input(placeholder='Название компании')
                  .form-field__error
                    |Допустимы только буквы
              .section-form__item
                .form-field
                  input.form-field__input(placeholder='Телефон')
                  .form-field__error
                    |Допустимы только буквы
              .section-form__item
                .form-field
                  input.form-field__input(placeholder='E-mail')
                  .form-field__error
                    |Допустимы только буквы
              .section-form__item.section-form__item--row
                .form-field.form-field--textarea.form-field--error
                  textarea.form-field__input(placeholder='Сообщение')
                  .form-field__error
                    |Допустимы только буквы
              .section-form__item.section-form__item--right.section-form__bottom
                .section-form__agrement
                  .simple-checkbox.simple-checkbox--error
                    label.simple-checkbox__label
                      input.simple-checkbox__input(name='agreement' type='checkbox')
                      .simple-checkbox__box
                        +check-svg.simple-checkbox__svg
                      .simple-checkbox__content
                        |Даю согласие на обработку 
                        a.simple-checkbox__link(href="#")
                          |персональных данных
                      .simple-checkbox__error
                        |Допустимы только буквы
                .section-form__submit
                  .btn.btn--submit
                    button.btn__btn
                      |отправить
                
                

